// compileExpanded

// variables
// spacing
$line-height: 1.45;
$baseline: 1rem * $line-height;
$avatar-size: $baseline * 4;
$mark-size: $baseline;
$border-size: $baseline/4;
$channel-small-height: $baseline * 2;

// colors
$primary-color: #6441A5;
$secondary-color: #333;
$contrast: white;
$online: #227230;
$helper-color: #301A58;


// base
* {
	box-sizing: border-box;
}

body {
	background-color: $secondary-color;
	max-width: 45rem;
	margin: 0 auto;
	padding: $baseline $baseline 0;
}


// typography
html {
	font-size: 1.125em;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: $line-height;
	color: $contrast;
	font-variant-ligatures: none;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

p {margin-bottom: 1.3em;}

small, .font_small {font-size: 0.75em;}

a {
	color: #6441A5;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid $primary-color;
	}
}


// utils
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.heading--inline {
	margin-top: $baseline;
	display: inline-block;
}


// sections
.settings,
.channels {
	margin: $baseline * 2 0;
}

.primary-footer {
	margin: $baseline 0 $baseline * 2;
}


// buttons
.button {
	background-color: $primary-color;
	color: $contrast;
	border: 0;

	&--padded {
		padding: $baseline / 2;
	}
}

.channel-action-button {
	position: absolute;
	top: 0;
	left: 0;
	width: $channel-small-height;
	height: 100%;
	font-size: $baseline;
}


// settings
.edit-form {
	margin: $baseline 0 0;
}

.search-field {
	font-size: 1em;

	&__label {
		display: block;
	}

	&__input {
		width: 100%;
		padding: $baseline / 2;
		font-size: inherit;
	}
}



// channels
.channel {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 100%;
	margin-bottom: $baseline * 1.5;

	&--small {
		height: $channel-small-height;
		margin-bottom: $baseline * 0.5;
	}
}

.top, .bottom {
	padding-left: $avatar-size + $baseline;
}

.channel--small .bottom {
	display: none;
}

.avatar {
	width: $avatar-size;
	height: $avatar-size;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;

	&__container {
		.channel--online:not(.channel--small) &:after {
			content: '';
			display: inline-block;
			position: absolute;
			left: $avatar-size - $mark-size - $border-size;
			top: $avatar-size - $mark-size - $border-size;
			width: $mark-size;
			height: $mark-size;
			border: $border-size solid $secondary-color;
			background-color: $online;
		}
	}

	&--placeholder {
		text-align: center;
		font-size: 4em;
		background-color: $helper-color;

		.channel--small & {
			font-size: 2em;
		}
	}

	.channel--offline & {
		filter: grayscale(1);
	}

	.channel--small & {
		width: $channel-small-height;
		height: $channel-small-height;
		left: $channel-small-height;
	}
}

.name {
	padding: $baseline / 2;
	padding-left: 0;
	margin: 0;
}

.status {
	min-height: $baseline * 2;
	padding: 0 0 $baseline / 2;
	margin: 0;
}
