// compileExpanded

// spacing
$line-height: 1.45;
$baseline: 1rem * $line-height;
$avatar-width: $baseline * 4;

// colors
$primary-color: #6441A5;
$secondary-color: #333;
$contrast: white;
$online: #227230;


* {
	box-sizing: border-box;
}

html {
	font-size: 1.125em;
}

body {
	background-color: $secondary-color;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: $line-height;
	color: $contrast;
	max-width: 45rem;
	margin: 0 auto;
	padding: $baseline $baseline 0;
	font-variant-ligatures: none;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

p {margin-bottom: 1.3em;}

small, .font_small {font-size: 0.75em;}

a {
	color: #6441A5;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid $primary-color;
	}
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


div[class^=channels__] {
	margin: $baseline * 3 0;
}

.channel {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 100%;
	margin-bottom: $baseline * 1.5;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.avatar {
	width: $avatar-width;
	height: $avatar-width;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;

	&__container {
		.channel--online &:after {
			$size: $baseline;
			$border-size: $baseline/4;
			content: '';
			display: inline-block;
			position: absolute;
			left: $avatar-width - $size - $border-size;
			top: $avatar-width - $size - $border-size;
			width: $size;
			height: $size;
			border: $border-size solid $secondary-color;
			background-color: $online;
		}
	}

	&--placeholder {

		text-align: center;
		font-size: 4em;
		background-color: #301A58;
	}
}

.name {
	padding: $baseline / 2;
	padding-left: 0;
	margin: 0;
}

.status {
	min-height: $baseline * 2;
	padding: 0 0 $baseline / 2;
	margin: 0;
}

.top, .bottom {
	padding-left: $avatar-width + $baseline;
}

.primary-footer {
	margin: $baseline * 2 0;
}
