// output: index.html
doctype html
html(lang="en")
	head.
		<meta charset="UTF-8">
		<title>Twitch Streams</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Wiktor Czajkowski">
	body
		header.primary-header
			h1 Twitch Streams

		section.primary-section.channels#app
			h2.sr-only Channels
			div.channels__online
				h3 Online
				article.channel.channel--online(v-for="channel of online")
					header.top
						div.avatar__container
							img(src='{{ channel.logo }}', alt='{{ channel.display_name }} channel logo').avatar
						h4.name
							a(href='{{ channel.url }}', title='Go to {{ channel.display_name }} channel') {{ channel.display_name }}
					section.bottom
						p.status
							{{ channel.status }}
			div.channels__offline
				h3 Offline
				article.channel.channel--offline(v-for="channel of offline")
					header.top
						div.avatar__container
							img(src='{{ channel.logo }}', alt='{{ channel.display_name }} channel logo').avatar
						h4.name
							a(href='{{ channel.url }}', title='Go to {{ channel.display_name }} channel') {{ channel.display_name }}
					section.bottom
						p.status.
							Offline
			div.channels__nonexistent
				h3 Nonexistent
				article.channel.channel--nonexistent(v-for="channel of nonexistent")
					header.top
						div.avatar.avatar--placeholder
							span.avatar--placeholder__text ?
						h4.name
							{{ channel.name }}
					section.bottom
						p.status.
							User doesn't exist

		footer.primary-footer
			a(href="http://wiktorczajkowski.xyz") Wiktor Czajkowski
			&copy; 2016. All right reserved.

		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,700")
		
		script(src="//code.jquery.com/jquery-2.2.2.min.js")
		script(src="js/vue.js")
		script(src="js/main.js")
			
